{
    "overrides": [
        {
            "files": "Dockerfile",
            "options": { "parser": "none" }
        },
        {
            "files": ".dockerignore",
            "options": { "parser": "none" }
        }
    ]
}
